.admin-container {
  height: 200vh;
  background-color: black;
  color: white;
}

.admin-nav {
  padding-top: 6em;
  display: flex;
  flex-direction: row;
  height: 250px;
  justify-content: center;
  align-items: center;
}
.admin-nav-left {
  display: flex;
  align-items: flex-start;
}
.admin-nav-right {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

.main-container {
  border: white;
  height: auto;
}
