.parent-container {
  display: flex;
  height: 60vh;
  background-color: hsl(0, 0%, 100%);
  background: linear-gradient(
    to right bottom,
    hsl(0, 0%, 100%) 65%,
    #ffad81 120%
  );
  justify-content: center;
  padding-top: 3em;
  padding-left: 2em;
}
.div-container {
  display: flex;
  flex-direction: row;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-main {
  max-width: 35ch;
}
