.event-card {
  margin-left: 10em;
  background-color: black;
  border-radius: 30px;
  padding: 1em;
  margin-bottom: 2em;
  color: white;
}
.event-container {
  height: 120vh;
  background-color: hsl(0, 0%, 100%);
  background: linear-gradient(
    to right bottom,
    hsl(0, 0%, 100%) 65%,
    #ffad81 120%
  );
  margin-top: 10em;
}
