.nav-bar-color{
  background-color: rgb(255, 255, 255);
 
}
.signinBtn{
  background-color: black;
  border: black solid;
  border-radius: 34.4722222222vw;
  padding-left: 2em;
  padding-right: 2em;
  color: white;
  text-decoration: none;
  box-shadow: rgb(160, 155, 155);
  
}