.time-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}
.canbook {
  height: 120px;
  background-color: rgb(10, 106, 240);
  /* opacity: 0.5; */
}

.cannotbook {
  height: 120px;
  background-color: rgb(250, 7, 7);
  /* opacity: 0.6; */
}
