.time-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-top: 0.2em; */
}
.canbook {
  height: 100px;
  background-color: rgb(106, 164, 247);
  /* opacity: 0.5; */
}

.cannotbook {
  height: 100px;
  background-color: rgb(252, 161, 161);
  /* opacity: 0.6; */
}
.book-container {
  margin-top: 10em;
}
