.gradient-custom {
  /* fallback for old browsers */
  background: hsl(0, 0%, 100%);

  /* Chrome 10-25, Safari 5.1-6 */

  background: -webkit-linear-gradient(
    to right,
    hsl(0, 0%, 100%) 65%,
    #ffad81 120%
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, hsl(0, 0%, 100%) 65%, #ffad81 120%);
}
